<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minipg.fanster.armoury">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="710112a46c1f4dab28dd347033216e2b7a923bf2" />
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.TopicActivity"></activity>
        <activity android:name=".activity.TopicListActivity"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Translucent"></activity>
        <activity
            android:name=".activity.AddTopicActivity"
            android:theme="@style/Translucent"></activity>
    </application>

</manifest>